#drop-area {
    border: 2px dashed #253954;
    border-radius: 20px;
    width: 70%;
    font-family: inherit;
    font-weight: 200;
    font-size: 14pt;
    margin: 50px auto;
    padding: 30px 50px;
    background-color: #ffffff6f;
    color: black;
    text-align: center;
}

#drop-area.highlight {
    border-color: #ccc;
    background-color: #5147476f;
}

p {
    margin-bottom: 5px;
}
  
.button {
    display: inline-block;
    padding: 5px 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#fileElem {
    display: none;
}

#maxCountOfPhoto {
    display: none;
    margin-top: 15px;
}

@media (max-width: 730px){
    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 530px){
    #gallery {
        grid-template-columns: 1fr;
    }
}

  

