#editHeaderContainer {
    background-color: #627790;
    display: flex;
    justify-content: center;
}

#editHeader {
    width: 100%;
    max-width: 1200px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#editHeader a {
    font-size: 12pt;
    cursor: pointer;
    color: #FFF;
}

#editHeader a:hover {
    color: #253954;
}

#editHeader button {
    font-size: 12pt;
    line-height: 12px;
    padding: 20px 60px;
}

#editContentContainer {
    display: flex;
    justify-content: center;
}

#editContent {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100%;
    height: 100%;
    align-items: start;
    width: 100%;
    max-width: 1200px;
}

#editGallery {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items:center;
}

@media (max-width: 1040px){
    #editContent {
        display: block;
    }

    #editGallery {
        padding: 40px;
    }
}

@media (max-width: 730px){
    #editGallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 530px){
    #editHeader {
        display: block;
    }

    #editHeader button {
        margin-top: 20px;
    }

    #editGallery {
        grid-template-columns: 1fr;
    }
}