.homePage {
    min-height: 100vh;
    background: rgb(233,75,28);
    background: linear-gradient(180deg, rgba(37,57,84,1) 0%, rgba(233,75,28,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

h1 {
    font-size: 18pt;
    text-align: center;
    font-weight: 300;
}