.img-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 150px;
    vertical-align: middle;
}

.trash, .eye {
    width: 150px;
    height: 100%;
    position: absolute !important;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
}

.trash:hover, .eye:hover {
    background-color:rgba(53, 53, 53, 0.3);
}

svg {
    cursor: pointer;
    height: 40px;
    fill: rgba(255, 255, 255, 0.9);
}

#bigImgContainer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
}

#bigImg {
    height: 80vh;
}

#closeBigImg {
    color: white;
    font-size: 20pt;
    font-family: inherit;
    align-self: flex-start;
    margin: 40px 0 0 10px;
    cursor: pointer;
}


@media (max-width: 530px){
    #bigImg {
        height: 400px;
    }

    #closeBigImg {
        font-size: 28pt;
        margin: 100px 0 0 10px;
    }
}