#drop-area {
    border: 2px dashed #253954;
    border-radius: 20px;
    width: 70%;
    font-family: inherit;
    font-weight: 200;
    font-size: 14pt;
    margin: 50px auto;
    padding: 30px 50px;
    background-color: #ffffff6f;
    color: black;
    text-align: center;
}

#drop-area.highlight {
    border-color: #ccc;
    background-color: #5147476f;
}

p {
    margin-bottom: 5px;
}
  
.button {
    display: inline-block;
    padding: 5px 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#gallery div {
    position: relative;
    display: flex;
    justify-content: center;
}

#gallery div img {
    width: 150px;
    vertical-align: middle;
}

.trash {
    width: 150px;
    height: 100%;
    position: absolute !important;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
}

.trash:hover {
    background-color:rgba(53, 53, 53, 0.3);
}

.trash svg {
    cursor: pointer;
    height: 40px;
    fill: rgba(255, 255, 255, 0.9);
}

#fileElem {
    display: none;
}

#maxCountOfPhoto {
    display: none;
    margin-top: 15px;
}

  

