#editMenu {
    box-sizing: border-box;
    margin: 20px 40px 20px 0;
    padding: 40px;
    color: white;
    border-radius: 20px;
    background-color: rgba(37, 57, 84,0.8);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.input-file {
    margin: 20px 0;
}

#editMenu input[type="button"], .input-file span {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 300;
    cursor: pointer;
    border:1px solid white;
    margin-bottom: 20px;
    color:black;
    text-wrap: nowrap;
}

#editMenu input[type="button"]:hover, .input-file span:hover {
    background-color: transparent;
    color: white;
}

#editMenu>p {
    margin: 0 5px 20px 5px;
    text-align: center;
}

#editMenu a {
    color: white;
    font-size: 12pt;
    padding-bottom: 20px;
}

#editMenu a:hover {
    color: #E94B1C;
    cursor: pointer;
}

#editMenu form {
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.setting>img {
    height: 70px;
}

.setting p {
    margin-right: 20px;
    align-self: center;
}

#textValue {
    width: 100%;
    height: 34px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    align-self: center;
    font-family: inherit;
    font-weight: 200;
    font-size: 10pt;
}

input:focus, select:focus {
    outline: none;
}

#editMenu form select {
    display: inline-block;
    width: 160px;
    height: 34px;
    line-height: 30px;
    position: relative;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    align-self: center;
    font-family: inherit;
    font-weight: 200;
    font-size: 10pt;
}

#editMenu form input[type="submit"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: white;
    font-family: inherit;
    font-size: 10pt;
    cursor: pointer;
    transition: all ease-in 0.05s;
}

#editMenu form input[type="submit"]:hover {
    background-color: transparent;
    color: white;
}

#editMenu form input[type="submit"]:active {
    border: 2px solid rgb(186, 186, 186);
    background-color: rgb(186, 186, 186);
}

.logo-outer-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}

#logoContainer {
    border-radius: 20px;
    background-color: white;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.logo-btn {
    border: 1px solid rgba(96, 96, 96, 0.3);
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.logo-btn:hover {
    background-color:rgba(125, 125, 125, 0.2);
}

.logo-btn>img {
    height: 70px;
}

.logo-outer-container>a {
    color: white;
    font-size: 20pt;
    font-family: inherit;
    align-self: center;
    margin-bottom: 300px;
    cursor: pointer;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

@media (max-width: 1040px){
    #editMenu {
        margin: 20px;
    }
}


@media (max-width: 730px){
    .logo-outer-container {
        width: 100%;
        height: 100%;
    }

    #logoContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-outer-container>a {
        margin-bottom: 500px;
        font-size: 28pt;
    }
}

@media (max-width: 530px){
    .setting {
        display: block;
    }
}